body {
  margin: 0;
}

.container {
  display: flex;
}

#layout-side {
  background-color: rgb(200, 200, 200, 1.0);
  box-shadow: 0 0 8px rgb(0, 0, 0, 0.2);
  margin: 0;
  margin-right: 10px;
  width: 230px;
}

#layout-main {
  display: block;
  width: 800px;
  margin-top: 10px;
}

#layout-row-1 {
  width: 800px;
  height: 50px;
}

#layout-row-2 {
  width: 800px;
  height: 210px;
}

#layout-row-3 {
  width: 800px;
  height: 50px;
}

#layout-row-4 {
  width: 700px;
  height: 700px;
  margin-top: 10px;
  /* background-color: rgba(230, 230, 230, 1.0); */
}

#finger-board {
  position: relative;
}

.canvas-wrapper {
  width: 100%;
  height: 100%;
}

#finger-board-canvas {
  position: absolute;
  z-index: -1;
}

.string {
  display: flex;
  flex-wrap: nowrap;
  width: 700px;
  /* background-color: rgba(255, 0, 0, 0.1); */
}

.string-press {
  position: relative;
  top: 5px;
  left: 5px;
  margin: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #333;
}

.flet-0 {
  width: 30px;
  height: 30px;
  margin-right: 8px;
  /* background-color: rgba(0, 0, 255, 0.1); */
}

.flet-0:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.flet {
  width: 30px;
  height: 30px;
  margin-right: 2px;
  /* background-color: rgba(0, 0, 255, 0.1); */
}

.flet:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.open-string {
  position: relative;
  top: 5px;
  left: 5px;
  margin: 0;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #333;
}

.close-string {
  top: 3px;
  left: 5px;
  display: inline-block;
  vertical-align: middle;
  color: #333;
  line-height: 1;
  width: 20px;
  height: 0.1em;
  background: currentColor;
  border-radius: 0.1em;
  position: relative;
  transform: rotate(45deg);
}

.close-string::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: inherit;
  transform: rotate(90deg);
}

.dropmenu {
  list-style-type: none;
  width: 960px;
  margin: 0;
  padding: 0;
}
.dropmenu li {
  position: relative;
  width: 10%;
  float: left;
  margin: 0;
  padding: 0;
  text-align: center;
}
.dropmenu li a {
  display: block;
  margin: 0;
  padding: 16px 0;
  background: #8a9b0f;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  text-decoration: none;
}
.dropmenu li ul {
  list-style: none;
  position: absolute;
  z-index: 10;
  top: 100%;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
}
.dropmenu li ul li {
  overflow: hidden;
  width: 100%;
  height: 0;
  color: #fff;
  transition: 0.2s;
}
.dropmenu li ul li a {
  padding: 13px 15px;
  background: #7c8c0e;
  text-align: left;
  font-size: 12px;
  font-weight: normal;
}
.dropmenu > li:hover > a {
  background: #7c8c0e;
}
.dropmenu > li:hover li:hover > a {
  background: #6e7c0c;
}
.dropmenu > li:hover > ul > li {
  overflow: visible;
  height: 38px;
}
.dropmenu li ul li ul {
  top: 0;
  left: 100%;
}

.dropmenu li ul li ul:before {
  position: absolute;
  content: "";
  top: 13px;
  left: -20px;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-left-color: #454e08;
}

.dropmenu li ul li:hover > ul > li {
  overflow: visible;
  height: 38px;
}
.dropmenu li ul li ul li a {
  background: #616d0b;
}
.dropmenu li:hover ul li ul li a:hover {
  background: #535d09;
}

.btn,
a.btn,
button.btn {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  position: relative;
  display: inline-block;
  padding: 1rem 2rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  margin: 2px;
}

div.btn--green {
  color: #fff;
  background-color: #8a9b0f;
}

div.btn--green:hover {
  color: #fff;
  background: #616d0b;
}

.wrapper-flex {
  width: 230px;
  display: flex;
  flex-wrap: wrap;
}

.palette {
  /* position: relative; */
  width: 90px;
  height: 90px;
  margin-top: 10px;
  margin-left: 10px;
  border: 5px solid #FFF;
  border-radius: 5px;
  background-color: #fff;
}

.selected-palette {
  /* position: relative; */
  width: 90px;
  height: 90px;
  margin-top: 10px;
  margin-left: 10px;
  border: 5px solid rgba(0, 255, 0, 0.5);
  border-radius: 5px;
  background-color: #fff;
}

.palette-menu-box {
  position: absolute;
  width: 100px;
  background-color: #8a9b0f;
  color: #FFF;
  visibility: hidden;
  z-index: 25;
}

.palette-menu-item:hover {
  cursor: pointer;
  background-color: #616d0b;
}

.out-of-range-menu-box {
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.0);
  z-index: 20;
  visibility: hidden;
  width: 100vw;
  height: 100vh;
}

.palette-sound-icon {
  /* position: absolute; */
  /* right: 2px; */
  width: 12px;
  height: 12px;
  margin-top: 3px;
  margin-left: 3px;
  padding: 3px;
  background-color: #AAA;  
  border-radius: 3px;
}

.palette-sound-icon:hover {
  cursor : pointer;
  background-color: #CCC; 
}

.score-line {
  display: flex;
  flex-wrap: wrap;
}

.score-code {
  /* position: relative; */
  width: 150px;
  height: 100px;
  margin-left: -2px;
  margin-bottom: 20px;
  border: 2px solid #888;
  background-color: #fff;
}

.score-code:hover {
  background-color: rgba(0, 0, 255, 0.2);
}
