#layout-row-1 {
  width: 800px;
  height: 50px;
}

#layout-row-2 {
  width: 800px;
  height: 190px;
}

#layout-row-3 {
  width: 800px;
  height: 50px;
}

.finger-board {
  display: flex;
  flex-wrap: nowrap;
  width: 800px;
}

.string-area {
  width: 30px;
  height: 30px;
  margin: 0;
}

.string-area:hover {
  background-color: lightgray;
}

.string-press {
  visibility: hidden;
  position: relative;
  top: 5px;
  left: 5px;
  margin: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: black;
}

.open-string {
  visibility: hidden;
  position: relative;
  top: 5px;
  left: 5px;
  margin: 0;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: white;
  border: 2px solid black;
}

.string {
  position: relative;
  top: 50%;
  margin: 0;
  width: 30px;
  height: 2px;
  background-color: black;
}

.flet {
  position: relative;
  top: 15px;
  width: 2px;
  height: 152px;
  background-color: black;
}

.nut {
  position: relative;
  top: 15px;
  width: 8px;
  height: 152px;
  background-color: black;
}

.picking-string-area {
  width: 200px;
  height: 30px;
  margin: 0;
}

.picking-string {
  position: relative;
  top: 50%;
  margin: 0;
  width: 200px;
  height: 2px;
  background-color: black;
}

.code-display {
  width: 180px;
  height: 180px;
}

#finger-board {
  width: 800px;
}

#finger-board2 {
  position: relative;
}

.canvas-wrapper {
  width: 100%;
  height: 100%;
}

#finger-board-canvas {
  position: absolute;
  z-index: -1;
}

.string2 {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 1px;
  width: 700px;
  /* background-color: rgba(255, 0, 0, 0.1); */
}

.string2-press {
  position: relative;
  top: 5px;
  left: 5px;
  margin: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #333;
}

.flet-0 {
  width: 30px;
  height: 30px;
  margin-right: 8px;
  /* background-color: rgba(0, 0, 255, 0.1); */
}

.flet-0:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.flet2 {
  width: 30px;
  height: 30px;
  margin-right: 2px;
  /* background-color: rgba(0, 0, 255, 0.1); */
}

.flet2:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.open-string2 {
  position: relative;
  top: 5px;
  left: 5px;
  margin: 0;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #333;
}

.close-string {
  top: 3px;
  left: 5px;
  display: inline-block;
  vertical-align: middle;
  color: #333;
  line-height: 1;
  width: 20px;
  height: 0.1em;
  background: currentColor;
  border-radius: 0.1em;
  position: relative;
  transform: rotate(45deg);
}

.close-string::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: inherit;
  transform: rotate(90deg);
}

.dropmenu {
  list-style-type: none;
  width: 960px;
  margin: 0;
  padding: 0;
}
.dropmenu li {
  position: relative;
  width: 10%;
  float: left;
  margin: 0;
  padding: 0;
  text-align: center;
}
.dropmenu li a {
  display: block;
  margin: 0;
  padding: 16px 0;
  background: #8a9b0f;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  text-decoration: none;
}
.dropmenu li ul {
  list-style: none;
  position: absolute;
  z-index: 100;
  top: 100%;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
}
.dropmenu li ul li {
  overflow: hidden;
  width: 100%;
  height: 0;
  color: #fff;
  transition: 0.2s;
}
.dropmenu li ul li a {
  padding: 13px 15px;
  background: #7c8c0e;
  text-align: left;
  font-size: 12px;
  font-weight: normal;
}
.dropmenu > li:hover > a {
  background: #7c8c0e;
}
.dropmenu > li:hover li:hover > a {
  background: #6e7c0c;
}
.dropmenu > li:hover > ul > li {
  overflow: visible;
  height: 38px;
}
.dropmenu li ul li ul {
  top: 0;
  left: 100%;
}

.dropmenu li ul li ul:before {
  position: absolute;
  content: "";
  top: 13px;
  left: -20px;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-left-color: #454e08;
}

.dropmenu li ul li:hover > ul > li {
  overflow: visible;
  height: 38px;
}
.dropmenu li ul li ul li a {
  background: #616d0b;
}
.dropmenu li:hover ul li ul li a:hover {
  background: #535d09;
}

.btn,
a.btn,
button.btn {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  position: relative;
  display: inline-block;
  padding: 1rem 2rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
}

div.btn--green {
  color: #fff;
  background-color: #8a9b0f;
}

div.btn--green:hover {
  color: #fff;
  background: #616d0b;
}
